body {
 background: url('b3.jpg') no-repeat;
 background-size:cover;
}

ul {
 margin: 0px;
 padding: 0px;
 list-style: none;
 font-family: courier new;
}

ul li {
 float: right;
 margin-top:auto;
 width: 150px;
 height: 20px;
 line-height: 20px;
 text-align: center;
 font-size: 14px;
}
ul li a {
 text-decoration: none;
 color: black;
 trasnition: 0.6s ease;
 display: inline-block;
}

ul li ul li{
 display: none;
}

.logo img{
  float: left;
  width: 300px;
  height: auto;
}

.pic img{
  float: center;
  width: 350px;
  height: auto;
}

ul li:hover ul li {
 display: block;
}
